.post__details {
  margin: 50px 15px;
}

.post__details {
  @media screen and (max-width: 420px) {
    margin: 20px 15px;
  }

  @media screen and (max-width: 768px) {
    margin: 20px 15px;
  }
}



.post__category {
  margin: 10px 0;
  color: #46d8b8;
  text-transform: uppercase;
  font-weight: bold;
}

.post__info {
  color: #b9b9b9;
  font-size: 0.8em;
}

.username {
  color: #78b2f7;
}

.group__actions {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  padding: 0;
}

.group__actions li {
  margin: 6px;
}