.top__bar {
  height: 80px;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;

  .project__logo {
    align-items: center;
    text-decoration: none;
    display: inherit;
    color: inherit;
  }

  .project__name {
    display: block;
    margin: 10px;
    font-weight: bold;
  }

  @media screen and (max-width: 420px) {
    justify-content: center;
    
    .project__logo {
      flex-flow: column nowrap;
      justify-content: inherit;
      align-items: inherit;
    }

    .project__name {
      margin: 5px 0 0 0;
    }
  }
}