.posts .ant-card {
  margin: 15px;
}

.post__card-cover {
  background: url(https://uploads.toptal.io/blog/image/92140/toptal-blog-image-1455721413647-0033c9550aed2013dfcd8c512a0af749.jpg);
  background-size: contain;
  background-position: center;
  height: 212px;
  color: #02d8ff;
  display: flex !important;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 10px;
}

.post__card-cover i {
  font-size: 1.2em;
  padding: 5px;
  border: 1px solid;
  margin: 2px;
  border-radius: 3px;
}

.post__card-cover i:hover {
  cursor: pointer;
}